POSTGRES_USER=splint
POSTGRES_PASSWORD=splint_dev_password
POSTGRES_DB=splint
POSTGRES_PORT=5432

MINIO_ROOT_USER=splint_minio
MINIO_ROOT_PASSWORD=splint_minio_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
S3_BUCKET=splint-originals

VITE_ALLOW_DEV_AUTH=false
ALLOW_DEV_AUTH=false
SEED_DEMO_DATA=false
ALLOW_DESTRUCTIVE_DB_RESET=false
