POSTGRES_USER=splint
POSTGRES_PASSWORD=splint_dev_password
POSTGRES_DB=splint
POSTGRES_PORT=5432

MINIO_ROOT_USER=splint_minio
MINIO_ROOT_PASSWORD=splint_minio_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
S3_BUCKET=splint-originals
